body {
  background-image: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

.box-form {
  margin: 80px auto;
  width: 80%;
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-between;
  box-shadow: 0 0 20px 6px #090b6f85;
}
@media (max-width: 980px) {
  .box-form {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}
.box-form div {
  height: auto;
}
.box-form .left {
  width: 60%;
  color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("mos.avif");
  overflow: hidden;
}
.box-form .left .overlay {
  padding: 30px;
  width: 100%;
  height: 100%;
  background: #5961f9ad;
  overflow: hidden;
  box-sizing: border-box;
}

.box-form .right {
  width: 40%;
  padding: 40px;
  overflow: hidden;
}
@media (max-width: 980px) {
  .box-form .right {
    width: 100%;
  }
  .box-form .left {
    width: 100%;
  }
}
.box-form .right h5 {
  font-size: 6vmax;
  line-height: 0;
}
.box-form .right p {
  font-size: 14px;
  color: #B0B3B9;
}
.box-form .right .inputs {
  overflow: hidden;
}
.inputs input {
  width: 100%; 
  padding: 10px;
  margin-top: 15px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #B0B3B9;
}
.address select{
  width: 40%;
  padding: 5px;
  margin-top: 5px;
  font-size: 16px;
  border: 1px solid gray;
  /* border-bottom: 2px solid #B0B3B9; */
}
.address h4{
  width: 20%;
  padding: 5px;
  margin-top: 5px;
  font-size: 16px;
  border: 1px solid gray;
}
.address input{
  width: 40%;
  padding: 5px;
  margin-top: 5px;
  font-size: 16px;
  border: 1px solid gray;
  /* border-bottom: 2px solid #B0B3B9; */
}
.symptoms input{
  width: 5%;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #B0B3B9;
}
.gender input{
  width: 5%;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #B0B3B9;

}

.right button{
  width: 100%;
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
  border: none;
  color: white;
  background-image: linear-gradient(135deg,#1904E5 10%, #FAB2FF 100%);
  cursor: pointer;
}


